.leftSideBar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F6FBEF;
  padding: 15px;
  border-radius: 4px;
  width: 200px;
  box-sizing: border-box;
}

.category:hover {
  cursor: pointer;
  text-decoration: underline;
}
