.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: center / cover no-repeat url('../../public/assets/pokoleniya-i-sport_162981756798672779.jpeg'),
  #eee 35% url("https://ibb.co/7WRTMqf");
}

.container {
  width: 960px;
}



