.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  &__button{
    border: 0;
    background-color: transparent;
    border-radius: 4px;

  }

  &__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item{
    text-align: center;

    &--account {
      width: 34px;
    }
    &--plus {
      width: 20px;
    }
  }
}
