.rightSideBar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 300px;

  &__item{
    background-color: #F6FBEF;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;

    &--date {
      font-size: 14px;
      font-weight: 600;
    }
    &--time {
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__bottom{
    &--title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    &--about {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
