.rightSideBar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 300px;

  &__item{
    background-color: #F6FBEF;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    width: 100%;
  }

  &__bottom{
    
  }
}
